<div class="container">
  <h1>Welcome to Zassmin's integration of Github's API</h1>
  <p>Type your github user name and a repo name to get some of your stats!</p>
  <form action='/' method='post'>
  <input type='text' name='username' placeholder='github username'/>
  <input type='text' name='reponame' placeholder='github reponame'/>
  <input type='submit'/>
  </form>
  <% if @user_repos %>
  <ul>
    <li>You have <%= @user_repos.count %> repos total</li>
    <li>You have <%= @commits.count %> commits on your <%= @repo %>!</li>
    <li><%= @forks.count %> people have forked <%= @repo %></li>
  </ul>
  <% end %>
</div>
